<!-- C:\WORKS_2\WS\WS_Others.prog\prog\D-7\2_2\VIRTUAL\Admin_Projects\curr\templates\curr\partials\busl_3\_busl_2.tbl_options.html -->
<div
    id="curr_BUSL_2__Area_Options"
    >
    
    <table>
        <tr>
            <td>
             2-2
     
          </td>
          
          <td>
             <input 
                 type="radio" 
                 name="curr_BUSL_2__Area_Options__RB_2-2_RBs" 
                 id="curr_BUSL_2__Area_Options__RB_2-2_ByMonth" 
                 value="by_month"
                 checked="checked" 
                 />
             <label for="curr_BUSL_2__Area_Options__RB_2-2_ByMonth">
                     by month
                     </label>
                     
             <input 
                 type="radio" 
                 name="curr_BUSL_2__Area_Options__RB_2-2_RBs" 
                 id="curr_BUSL_2__Area_Options__RB_2-2_AllMonths" 
                 value="all_months" 
                 />
             <label for="curr_BUSL_2__Area_Options__RB_2-2_AllMonths">
                     all months
                     </label>
         
          </td>
        </tr>	        
        
        <tr>
            <td>
             3-2
     
          </td>
          
          <td>
             <input 
                 type="radio" 
                 name="curr_BUSL_2__Area_Options__RB_3-2_RBs" 
                 id="curr_BUSL_2__Area_Options__RB_3-2_UpBars" 
                 value="up_bars" 
                 />
             <label for="curr_BUSL_2__Area_Options__RB_3-2_UpBars">
                     Up bars
                     </label>
                     
             <input 
                 type="radio" 
                 name="curr_BUSL_2__Area_Options__RB_3-2_RBs" 
                 id="curr_BUSL_2__Area_Options__RB_3-2_DownBars" 
                 value="down_bars" 
                 />
             <label for="curr_BUSL_2__Area_Options__RB_3-2_DownBars">
                     Down bars
                     </label>
         
             <input 
                 type="radio" 
                 name="curr_BUSL_2__Area_Options__RB_3-2_RBs" 
                 id="curr_BUSL_2__Area_Options__RB_3-2_AllBars" 
                 value="all_bars" 
                 checked="checked" />
             <label for="curr_BUSL_2__Area_Options__RB_3-2_AllBars">
                     All bars
                     </label>
          </td>
        </tr>	        
        
    </table>
    
</div><!-- id="id="curr_BUSL_2__Area_Options" -->
