<div
    id="id="curr_BUSL_2__Area_Options"
    >
    
    <table>
        <tr>
            <td>
             3-2
     
          </td>
          
          <td>
             <input 
                 type="radio" 
                 name="curr_BUSL_2__Area_Options__RB_3-2_RBs" 
                 id="curr_BUSL_2__Area_Options__RB_3-2_UpBars" 
                 value="up_bars" 
                 />
             <label for="curr_BUSL_2__Area_Options__RB_3-2_UpBars">
                     Up bars
                     </label>
                     
             <input 
                 type="radio" 
                 name="curr_BUSL_2__Area_Options__RB_3-2_RBs" 
                 id="curr_BUSL_2__Area_Options__RB_3-2_DownBars" 
                 value="down_bars" 
                 />
             <label for="curr_BUSL_2__Area_Options__RB_3-2_DownBars">
                     Down bars
                     </label>
         
             <input 
                 type="radio" 
                 name="curr_BUSL_2__Area_Options__RB_3-2_RBs" 
                 id="curr_BUSL_2__Area_Options__RB_3-2_AllBars" 
                 value="all_bars" 
                 checked="checked" />
             <label for="curr_BUSL_2__Area_Options__RB_3-2_AllBars">
                     All bars
                     </label>
          </td>
        </tr>	        
        
    </table>
    
</div><!-- id="id="curr_BUSL_2__Area_Options" -->
