{% load taglib_basic %}


<table id="tbl_Im_Actions__Header">

        <tr>
            
            <th>
                No.
            </th>
                
            <th>
                ID
            </th>
                
            <th>
            
                Descriptions
                
            </th>
            
            <th>
            
                Action
                
            </th>
        
            <th>
            
                More info
                
            </th>
        
            <th>
            
                Entry date
                
            </th>
        
        </tr>

</table>

<!-- <table id="tbl_Im_Actions__Body"> -->

<div id = "div_Tbl_Curr_BUSL_2_Actions__Body">

	<table id="tbl_Curr_BUSL_2_Actions__Body">
	
	        {% for item in list_of_params %}
	        
	            <tr>
	            
	                <td>
	                
	                    {{forloop.counter}}
	                
	                </td>
	                <!-- ref color names https://html-color-codes.info/color-names/ -->
	                <td style="background-color : 
	                   
	                       {% if item.0 >= "1" and item.0 < "2-"   %} 
	                           DarkKhaki
	                       {% elif item.0 >= "2-" and item.0 < "3-"   %} 
	                           yellow 
	                       {% elif item.0 >= "3-" and item.0 < "4-"   %}
	                           Thistle
                           {% else %}
                               gray
                           {% endif %}"
	                
	                   >
	                
	                    {{ item.0 }}
	                    <!-- ref https://docs.djangoproject.com/en/2.1/ref/templates/builtins/ -->
	                    <!-- {% if item.0 >= "2-" and item.0 < "3-"   %} YES, 2- {% else %} NOOOO {% endif %} -->
	                    <!-- {% if item.0 == "2-1"   %} YES, 1 {% else %} NO {% endif %} -->
	                    
	                </td>
	                
	                <!-- <td id="td_Label_{{ item.0 }}" style="background-color: yellow;"> -->
	                <td id="td_Label_{{ item.0 }}">
	                
	                    {{ item.1 }}
	                    
	                </td>
	                
	                
	                <td>
	                    
	                    <!-- 
	                    <a href="http://127.0.0.1:8000/curr/tester_BuyUps_SellLows/?command=BUSL_3&busl3_action={{ item.2 }}">
	                    GO </a>
	                    
	                     -->
	                     
	                    <button 
	                           onclick="curr_BUSL_3__Action('{{ item.0 }}')"
	                           class="bt_Basic_2_Size20"
	                           >
	                       GO
	                       </button>
	                     
	                </td>
	                
	                <td>
	                    {{ item.3 }}
	                </td>
	                
	                <td>
	                    {{ item.4 }}
	                </td>
	                
	            </tr>
	            
	        {% endfor%}
	
	</table><!-- id="tbl_Curr_BUSL_2_Actions__Body" -->

</div>