{% load taglib_curr %}

BUSL_2
<br>
{{ message }}

<hr>

    <div 
        id="curr_BUSL_2__Message_Area"
        style="color : blue"
    >
    
	    <!-- 
	        <font color="blue">Messages</font>
	     -->
	     Message area
	     
    </div>

<hr>
    
    <button onclick="show_hide_Tag('div#curr_BUSL_2__Area_Files_Folders');">
            Show / Hide
          </button>
    
    <button onclick="open_DataDir();">
            Open dirs
          </button>
    
    
    <div
        id="curr_BUSL_2__Area_Files_Folders"
        
        >
        
        <!-- ref for attribute https://www.w3schools.com/tags/tag_label.asp -->
        <label 
                class="lbl_basic_1" 
                for="curr_BUSL_2__TA__Fname_CSV"
            >
                CSV raw data file</label><br>
                
        <textarea 
            id="curr_BUSL_2__TA__Fname_CSV"
            onmouseover="this.select()"
            >{{ fname_CSV }}</textarea>
        <br>
        
        <label class="lbl_basic_1" for="curr_BUSL_2__TA__Dpath_CSV">
                CSV raw data dir</label><br>
        <textarea 
            id="curr_BUSL_2__TA__Dpath_CSV"
            onmouseover="this.select()" 
            >{{ dpath_CSV }}</textarea>
        
        </div>
    
    {% include 'curr/partials/busl_3/_busl_2.tbl_options.html' %}

<hr>

{% include 'curr/partials/busl_3/_idx_tbl.html' %}
